{%extends "base.html"%}
{%import "bootstrap/wtf.html" as wtf%}
{%block title%}AddFunctionModel{%endblock%}
{% block page_content %}
<h1>测试查询结果为：</h1>
<table width="100%"  cellspacing="50%" cellpadding="80" border="8">
            <tr>
                <td width="5%">选择</td>
                <td width="10%">测试用例编号</td>
                <td width="30%">测试用例概述</td>
                <td width="20%">所属模块</td>
                <td  align="center" colspan="2">操作</td>
            </tr>
            {% for case_information in case_informations %}
            <tr>
                <td>
                    <input type="checkbox" name="check_item" id="check_single" value="{{case_information[0]}}">
                </td>
                <td>{{case_information[0]}}</td>
                <td>{{case_information[1]}}</td>
                <td>{{module_id_name[case_information[2]]}}</td>
                <td>
                    <a href="javascript:void(0);" class="J_sub_test" data-name="case_name" data-id="{{case_information[0]}}">提交测试</a>
                </td>
                <td>
                    <a href="{{ url_for('auth.getResult', name=case_information[0]) }}" class="J_tail_log" data-name="case_log" data-id="{{case_information[0]}}">查看结果</a>
                </td>

            </tr>
            {%endfor%}
            <tr>
                <td>
                    <input type="checkbox" name="check_all" id="">
                </td>
                <td colspan="5">
                    <a href="javascript:void(0);" class="J_sub_test_pl">批量提交测试</a>
                </td>
            </tr>

</table>


<script>
    $(function() {
        //提交测试--单个
        $(".J_sub_test").on("click", function(event) {
           event.preventDefault();
           var idName = $(this).attr("data-name"),
               idVal = $(this).attr("data-id");     //当前值

           $.ajax({
               url: '{{url_for("auth.executeTest")}}',
               type: 'post',
               dataType: 'html',
               data: {
                   idName : idVal   //切记一会儿把这块儿改成统一名称，比如使用：把case_0002改成name
               },
               success: function (data) {

                   //console.log(data);

               }
           });
        });

        //提交测试--批量
        $(".J_sub_test_pl").on("click", function (event) {
            event.preventDefault();
            var subArr = [];
            $("input[name='check_item']").each(function (i) {

                if($(this).prop("checked")) {
                    var idVal = $(this).val();     //当前值

                    $.ajax({
                       url: '{{url_for("auth.executeTest")}}',
                       type: 'post',
                       dataType: 'html',
                       data: {
                           idName : idVal   //切记一会儿把这块儿改成统一名称，比如使用：把case_0002改成name
                       },
                       success: function (data) {

                           //console.log(data);

                       }
                   });
                }

            });
        });

        //全选/取消反选
        $("input[name='check_all']").on("click", function () {
            if($(this).prop("checked")) {
                $("input[name='check_item']").prop("checked", true);
            } else {
                $("input[name='check_item']").prop("checked", false);
            }
        });

    });
</script>
{% endblock %}

